.movie-card {
  margin: 0 1px;
  position: relative;
  box-shadow: 0 0 5px black;

}
.card:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.like-btn {
  position: absolute;
  outline: none;
  cursor: pointer;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  border-radius: 0 0 0 50%;
}
.like-btn:focus {
  outline: none;
}

.inFavs {
  background-color: red;
  border: 2px solid silver;
  color: white;
}

.notInFavs {
  background-color: transparent;
  border: 2px solid red;
  color: red;
}
